@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="gallery">
    @foreach (var img in Model.ImageFiles)
    {
        <div class="card">
            <img src="@img" alt="" />
            <div class="card-caption">@System.IO.Path.GetFileNameWithoutExtension(img)</div>
        </div>
    }
</div>